//---------------------------------@start PlayersPage-----------------------------------
.PlayersPage {
  .PlayersPage_Content {
    // pageContent
    padding-top: 8rem;
    height: 40rem;
    margin-bottom: 12rem;
  }
  //-----@start Tab----------------------------

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;

    .TabList {
      text-align: center;
      font-style: oblique;
      font-size: 1.2rem;
    }
    //-----@start Players Tab--------------------------------------------------------------

    .TabPanelPlayers {
      ul {
        li {
          margin-top: 0.5rem;

          font-family: "Courier New", Courier, monospace;
          font-size: 1.2rem;
        }
        list-style: none;
        margin-left: -15rem;
      }
      img {
        margin-left: 2rem;
      }
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      margin-top: 3rem;
    }
    //-----@end Players Tab--------------------------------------------------------------

    //-----@start HOST Tab--------------------------------------------------------------
    .jumbotron {
      padding: 1rem 8rem 1rem 8rem;
    }
    //-----@start HEADER--------------------------------------------------------------
    .display-3 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
    //-----@end HEADER--------------------------------------------------------------

    //-----@end HOST Tab--------------------------------------------------------------
  }
  //-----@end Tab----------------------------
  .Footer_PlayersPage {
    margin-top: 5rem;
  }
}

//---------------------------------@end PlayersPage-----------------------------------
