//---------------------------------@start PlayersPage-----------------------------------
.PlayersPage {
  .PlayersPage_Content {
    // pageContent
    padding-top: 8rem;
  }
  //-----@start Tab----------------------------
  .tab {
    .TabList {
      text-align: center;
      font-style: oblique;
      font-size: 1.2rem;
    }
    //-----@start Players Tab--------------------------------------------------------------

    .TabPanelPlayers {
      //-----@start Grid Child Style--------------------------------------------------------------
      ul {
        li {
          margin-top: 0.5rem;
          font-family: "Courier New", Courier, monospace;
          font-size: 1.2rem;
        }
        //child middle
        list-style: none;
        width: 29rem;
      }
      img {
        //child left
        margin-left: 5rem;
        width: 10rem;
        height: 10rem;
      }
      //-----@start INVITE button------
      .lead {
        //child right
        padding-top: 5rem;
      }
      //-----@end INVITE button------

      //-----@end Grid Child Style--------------------------------------------------------------
      //-----@start Grid Parent Style--------------------------------------------------------------
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      margin-top: 3rem;

      //-----@end Grid Parent Style--------------------------------------------------------------
    }
    //-----@end Players Tab--------------------------------------------------------------

    //-----@start HOST Tab--------------------------------------------------------------
    .jumbotron {
      padding: 1rem 8rem 1rem 8rem;
    }
    #preferredLocation {
      margin-top: 1rem;
    }

    //-----@start HEADER--------------------------------------------------------------
    .display-3 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
    //-----@end HEADER--------------------------------------------------------------

    //-----@end HOST Tab--------------------------------------------------------------
    overflow: hidden;
    border: 1px solid #ccc;
  }
  //-----@end Tab----------------------------
}

//---------------------------------@end PlayersPage-----------------------------------
