//------------------------@start Hero section ------------------------------------------------------------------------
.HeroSection_User {
  // background-image: url("https://images.pexels.com/photos/46792/the-ball-stadion-football-the-pitch-46792.jpeg?cs=srgb&dl=ball-field-grass-46792.jpg&fm=jpg");
  background-image: url("../../assets/images/stadium-hero-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: bottom;
  width: 100%;
  // background-position-y: 1em;
  // position: absolute;
  height: 42rem;
  // background-color: red;
  //------------------------@start Hero content ------------------------------------------------------------------------
  .Hero_Content {
    width: 30%;
    height: 20rem;
    // background-color: greenyellow;
    margin: 0 auto;
    padding-top: 7rem;
    h1 {
      color: rgb(29, 25, 25);
      text-align: center;
      text-transform: uppercase;
      font-family: cursive;
    }
    p {
      padding-top: 0.3rem;
      text-align: center;
      text-transform: uppercase;
      font-family: cursive;
    }

    //------------------------@start Buttons----------------------------------------------
    .Buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      text-align: center;
      //------------------------@start Buttons text----------------------------------------------
      .Button {
        font-weight: bold;
      }
      //------------------------@end Buttons text ----------------------------------------------
    }
    //------------------------@end Buttons --------------------------------------------------------
  }
  //------------------------@end Hero content ------------------------------------------------------------------------
}
//------------------------@end Hero section ------------------------------------------------------------------------
