//---------------------------------@start bestGoalspage_Player-----------------------------------
.BestGoalsPage_Player {
  .BestGoalsPage_User_Content {
    padding-top: 10rem;
    height: 40rem;
    // background-color: pink;
    .fileUpload {
      margin-top: 2rem;
    }
    h1 {
      text-align: center;
      padding-bottom: 2rem;
    }
    .Horizontal_Line {
      border: 1px solid black;
      width: 40%;
      margin: 0 auto;
    }
    .Parent_Grid {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
      grid-gap: 7rem;
      p {
        width: 100%;
      }
      img {
        width: 20rem;
        height: 15rem;
      }
    }
  }
}
//---------------------------------@end bestGoalspage_PLayer-----------------------------------
