//------------------------------------@start about page---------------------------------------------------------
.AboutPage {
  //------------------------------------@start navbar---------------------------------------------------------

  //------------------------------------@end navbar---------------------------------------------------------
  .Mission {
    padding-top: 10rem;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .About {
    text-align: center;
    margin-top: 5rem;
    p {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
  .Footer_About {
    margin-top: 10rem;
  }
}
//------------------------------------@end about page---------------------------------------------------------
